<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
    <style>
        tr, td {
          padding-top: 30px;
          padding-bottom: 20px;
          padding-left: 80px;
          padding-right: 40px;
          color:red;
        }
        th {
        length:70%;
        }

    </style>
</head>
<table border="1" width="80%">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Harry</td>
        <td>28</td>
        <td>Britain</td>
    </tr>
    <tr>
        <td>John</td>
        <td>35</td>
        <td>USA</td>
    </tr>
    <tr>
        <td>Ram</td>
        <td>19</td>
        <td>Nepal</td>
    </tr>

</table>
</html>